@CHARSET "UTF-8";
#main
{
	width:1200px;
	margin:auto;
}
#body{
	height:800px;
}
#headBar{
	background-color: #333333; 
	width: 100%; 
	height:40px; 
	position: relative;
}
#headBar_Controler{
	position: absolute;
	top:20%;
	margin-left: 2%;
	float: right;
}
#pageTag{
	color:white;
	
}
.headBar_left_aLag{
	color:white;
	font-size: 20px;
	text-decoration: none;
}
span{
	    cursor: default;
	    
}

.headBar_left_spanLag{
	 color:white;
}
#headBar_right1{
	position:absolute;
	margin-left: 650%;
	top:1%;
	width:70px;
}
.headBar_right1_log{
	color: #B0B0B0;
	font-size: 14px;
	text-decoration: none;
}	
#headBar_right2{
	position:absolute;
	margin-left: 700%;
	top:1%;
	width:130px;
}
.headBar_right2_aTag{
	color: #B0B0B0;
	font-size: 14px;
	text-decoration: none;
}
#foot{
	margin:auto;
	margin-top:100px;
	width:80%;
}
#foot-top{
	border-bottom: 1px solid #ABE1E1;
	height:70px;
}
#foot-top ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
#foot-top li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #ABE1E1;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    display: list-item;
}
#foot-top img{
	margin-bottom: -4px;
}
#foot-bottom{
	margin-top:20px;
	height:200px;
}
 .col-links {
    float: left;
    width: 15%;
    height: 112px;
    margin: 0 0 0 60px;
}
.col-links dt {
    margin: -1px 0 26px;
    font-size: 18px;
    line-height: 1.25;
    color: #424242;
}
.col-links dd {
    margin: 10px 0 0;
    font-size: 16px;
}
.col-links dl{
	display:block;
	
}
#searchText{
	position:absolute; 
	outline:none; 
	border-color:#8B8B8B; 
	width:400px; 
	height:35px; 
	margin-top:40px; 
	margin-left:50%; 
	left:-250px; 
	border-radius: 30px;
}
#searchTextBtn{
	position:absolute; 
	border:none; 
	color:#8B8B8B; 
	outline:none; 
	width:60px; 
	height:32px; 
	border-radius: 22px;
	margin-top:41px; 
	margin-left:50%; 
	left:89.3px;
	cursor: pointer;
}
.goods{
	display:inline-block;
	width:210px;
	height:300px;
	margin-right: 28px;
	float:left;
	background: #fff;
	text-align: center;
}
.goods img{
	width:140px;
	height:140px;
}
a {
    
    text-decoration: none;
}
.addcarbtn,.remindbtn{
	
	border-color: #ff6700;
    background: #fff;
    color: #ff6700;
    width: 120px;
    height: 28px;
    line-height: 28px;
    font-size: 12px;
    display:block;
    padding: 0;
    margin: 0;
    margin-left:50px;
    border: 1px solid #ff6700;
    text-align: center;
    cursor: pointer;
  	transition: all .4s;
}
.addcarbtn:hover,.remindbtn:hover{
	background: #ff6700;
	color: #fff;
}
#search{
	  display:block;
	    height: 150px;
}