/com/
/AddClasses.jsp
/G_login.jsp
/ShowClasses.jsp
/add.jsp
/back.jsp
/delSuccess.jsp
/error.jsp
/false.jsp
/index.jsp
/loadSC.jsp
/loadcheckC.jsp
/news.jsp
/ok_n.jsp
/success.jsp
/update.jsp
/updateSuccess.jsp
